/* Scss Document */

.bg{
	&-content{
		background: #fff;
		padding: 50px;
		position: relative;
		z-index: 100;
	}
}

.m{
	&t
	{
		&-100{
			margin-top: 100px
		}
		&-150{
			margin-top: 150px
		}
		&-200{
			margin-top: 200px
		}
		&-500{
			margin-top: 500px
		}
	}
}

.w{
	&-100{
		width: 100%;
	}
}